:root {
  --main-font-size: 21px;
  --deep-green: #006400;
  --earth-brown: #8b4513;
  --soft-blue-green: #2e8b57;
  --golden-yellow: #ffd700;
  --soft-orange: #ffa07a;
  --dark-crimson: #9d122e;
  --nav-footer-a: rgb(228, 200, 200);
}

body {
  background-color: var(--soft-blue-green);
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid var(--deep-green);
  margin: 1em 0;
  padding: 0;
}

.nav-bar {
  background-color: var(--deep-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.website-logo {
  width: 140px;
}

.logo {
  width: 100%;
  height: 100%;
}

.re-links {
  display: flex;
  gap: 50px;
  padding-right: 30px;
}

.nav-bar-hamburger {
  display: none;
  height: 65px;
  width: 65px;
}

.nav-bar-hamburger img {
  transform: scaleX(-1);
  height: 100%;
  width: 100%;
}

.re-links li {
  list-style: none;
}

.re-links a {
  color: rgb(228, 200, 200);
  font-weight: 1px;
  text-decoration: none;
  font-size: var(--main-font-size);
  padding: 8px;
}

.re-links li a:hover {
  border-bottom: 3px solid #ffa07a;
}

.hero-container {
  position: relative;
}

.hero-image {
  height: auto;
  width: 100%;
  overflow: hidden;
}

.hero {
  width: 100%;
}

.hero-responsive {
  display: none;
}

.display-none {
  display: none;
}

.login-button {
  position: absolute;
  bottom: -4%;
  left: 1%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  margin: 20px;
  border-radius: 5px;
  margin-left: 35px;
  cursor: pointer;
}

.login-button a {
  color: var(--before-hover-a-color);
  font-weight: 600;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-button img {
  height: 50px;
}

.wild-life-images h4 {
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wild-life-images:hover img {
  opacity: 0.2;
}

.wild-life-images:hover {
  background-color: rgba(240, 234, 234, 0.5);
}

.wild-life-images:hover h4 {
  display: block;
}

.learn-more-wilpattu {
  display: none;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  background-color: #006400;
  text-decoration: none;
  border-radius: 6px;
  padding: 10px;
}

/* .centered-text-wilpattu {
  position: absolute;
  width: 96.9%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  padding: 10px 20px;
  font-size: 30px;
  text-align: center;
  background-color: rgba(240, 234, 234, 0.5);
  border-radius: 11px;
} */

.centered-text-wilpattu {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(226, 215, 215, 0.5);
  border-radius: 11px;
}

.centered-text {
  text-align: center;
  font-size: 30px;
  color: #030303;
}

.introdcution {
  margin: 15px;
  font-size: var(--main-font-size);
  text-align: justify;
  text-align-last: center;
}

.introdcution h3 {
  text-align: center;
  font-size: 29px;
}

.content {
  margin: 15px;
}

.wild-life {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  font-size: var(--main-font-size);
}

.wild-life p {
  text-align: justify;
  text-align-last: center;
  margin-bottom: 30px;
}

.wild-life-content {
  text-align: justify;
  /* min-width: 400px; */
}

/* max-width can be changed */

.wild-life-content a {
  color: rgb(228, 200, 200);
}

.wild-life-images {
  display: flex;
  flex-direction: row;
  height: 250px;
  width: 100%;
  overflow: hidden;
  border-radius: 11px;
  align-items: center;

  position: relative;
  text-align: center;
}

.wild-life-images img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.wilpattu-section-1 h3 {
  margin: 30px;
  font-size: 29px;
  text-align: center;
}

.wild-life-images {
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 50px;
}

.centered-text-wilpattu {
  opacity: 0;
  animation: fadeIn-text 1.2s ease-in forwards;
}

@keyframes fadeIn-text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    scale: 0.8;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

/* footer */

.newsletter-header {
  color: rgba(30, 30, 38, 0.9);
  font-size: 26px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  text-decoration: underline;
}

.newsletter-form-container {
  width: 400px;
}

.newsletter-container {
  display: flex;
  justify-content: center;
  background-image: radial-gradient(#5b635f, #3a6657);
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
  padding-bottom: 45px;
}

.name-inputs {
  display: flex;
  justify-content: space-between;
}

.name-inputs input {
  border-radius: 6px;
  border: 1px solid #ffffff;
  outline: none;
  margin-bottom: 20px;
}

.email {
  display: flex;
}

.email-input {
  width: 273px;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid #ffffff;
  outline: none;
}

.email-input:focus,
.name-inputs input:focus {
  border-color: #414242;
  box-shadow: 0 0 5px #3a6657;
}

.newsletter input {
  padding: 15px;
}

.subscribe-btn {
  font-size: 15px;
  color: rgb(191, 184, 184);
  padding: 15px;
  border: none;
  cursor: pointer;
  background-color: #2a443b;
  border-radius: 0px 10px 10px 0px;
}

.subscribe-btn:hover {
  background-color: #5e756f;
}

.footer {
  height: auto;
  /* background-color: var(--deep-green); */
  background-image: radial-gradient(#5b635f, #3a6657);
  display: flex;
  justify-content: space-around;

  align-content: center;
  font-size: var(--main-font-size);
}

.contact-us {
  margin: 10px;
}

.get-in-touch-header {
  color: rgba(30, 30, 38, 0.9);
  font-size: 26px;
  text-decoration: underline;
}

.get-in-touch a {
  color: rgb(25, 25, 38);
  text-decoration: none;
}

.get-in-touch a:hover {
  color: rgb(124, 124, 139);
}

.quick-links {
  margin: 10px;
}

.quick-links-header {
  color: rgba(30, 30, 38, 0.9);
  font-size: 26px;
  text-decoration: underline;
}

.quick-links-container {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.quick-links-container a {
  color: rgb(25, 25, 38);
  text-decoration: none;
}

.quick-links-container a:hover {
  color: rgb(124, 124, 139);
}

.social-media {
  margin: 10px;
  color: rgb(25, 25, 38);
}

.social-media-intro {
  font-size: var(--main-font-size);
  margin-top: 31px;
  height: auto;
  width: auto;
  /* max-width: 400px; */
}

.social-media-para {
  text-align: justify;
  text-align-last: center;
}

.social-media-icons-container {
  display: flex;
  justify-content: space-evenly;
}

.social-media-icons-container img {
  width: 40px;
}

.tags {
  text-align: center;
}

.wc:hover {
  color: rgb(124, 124, 139);
}

.nl:hover {
  color: rgb(124, 124, 139);
}

@media only screen and (max-width: 607px) {
  .login-button {
    /* bottom: 10px; */
    left: 15px;
  }
}

@media only screen and (max-width: 429px) {
  .newsletter-form-container {
    width: 360px;
  }

  .email-input {
    width: 230px;
  }
}

@media only screen and (min-width: 935px) {
  .social-media-intro {
    max-width: 400px;
  }
}

@media only screen and (max-width: 1000px) {
  .nav-bar {
    display: block;
    border-radius: 0px 0px 15px 15px;
  }

  .re-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }

  .re-links a {
    border: solid 1px var(--nav-footer-a);
    border-radius: 10px;
    transition: border 0.1s ease-in-out;
  }

  .re-links a:hover {
    border: solid 3px var(--soft-orange);
  }

  .re-links li {
    display: block;
  }

  .re-links li {
    margin: -9px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .website-logo {
    display: none;
  }

  .nav-bar-hamburger {
    display: none;
  }

  .wild-life {
    flex-direction: column;
  }

  .footer {
    flex-direction: column;
  }

  .contact-us {
    text-align: center;
  }

  .quick-links {
    text-align: center;
  }

  .social-media {
    text-align: center;
  }

  .hero {
    display: none;
  }

  .hero-image {
    height: 550px;
    width: 100%;
    overflow: hidden;
  }

  .hero-responsive {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
